body {
    text-align: center;
    background-image: url("");
}

.banner{
    display: flex;
    position: relative;
}

.navBar {
    display: flex;
    position: relative;
    justify-content: center;
}

.navButton {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 50px 0 0;
}

.latestVideosText {
    display: flex;
    position: relative;
    padding: 0 400px 0 0;
    justify-content: right;
}

.latestVideos {
    display: flex;
    position: relative;
    padding: 0 100px 0 0;
    justify-content: right;
}

