body {
    text-align: center;
    background-position: center;
    background-size:cover;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: center;
}

.navButton {
    margin: 0 20px 0 0;
}

.navBar2 {
    display: flex;
    position: relative;
    justify-content: center;
}

.navButton2 {
    margin: 20px 20px 0 0;
}

.sideBar {
    height: 100%;
    width: 160px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

.dffooCurrentBanner{
    display: flex;
    position: absolute;
    justify-content: center;
}

.videosContainer {
    display: flex;
    position: relative;
    justify-content: center;
}